<!DOCTYPE html>
<html>
	<head>
		<title>Weibo test</title>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div class="container">
			<header>
				<img src="/img/logo.jpg" alt="weibo Logo">
			</header>
			{{{body}}}
			<footer>&copy;{{copyrightYear}} Weibo</footer>
		</div>
	</body>
</html>