<h2>用户登录<h2>
<div class="form-container">
	<form class="form-group" action="/login" method="POST">
		<div>
			<label>用户名：</label> <input type="text" name="userName">
		</div>
		<div>
			<label>密 码：</label> <input type="password" name="password">
		</div>
		<div>
			<button type="submit">登录</button>
		</div>
	</form>
</div>